In [1]:
import pandas as pd
import numpy as np

#### Create a list of dates from today to 20 days back

In [3]:
import datetime

In [8]:
today = datetime.datetime.today()
date_list = [ today - datetime.timedelta(days=i)  for i in range(0,20)]
date_list

[datetime.datetime(2021, 1, 1, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 31, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 30, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 29, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 28, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 27, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 26, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 25, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 24, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 23, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 22, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 21, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 20, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 19, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 18, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 17, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 16, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 15, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 14, 15, 36, 53, 777753),
 datetime.datetime(2020, 12, 13, 15, 36, 53, 777753)]

In [11]:
df = pd.DataFrame(date_list)
df.columns = ['Date_of_Days']

In [12]:
df.head()

                Date_of_Days
0 2021-01-01 15:36:53.777753
1 2020-12-31 15:36:53.777753
2 2020-12-30 15:36:53.777753
3 2020-12-29 15:36:53.777753
4 2020-12-28 15:36:53.777753

In [20]:
df['Day'] = df['Date_of_Days'].dt.day_name()

In [21]:
df.head()

                Date_of_Days        Day
0 2021-01-01 15:36:53.777753     Friday
1 2020-12-31 15:36:53.777753   Thursday
2 2020-12-30 15:36:53.777753  Wednesday
3 2020-12-29 15:36:53.777753    Tuesday
4 2020-12-28 15:36:53.777753     Monday

### Create a Dictionary to map the ordinal data dayname to values 1,2,3,4,5,6,7

In [23]:
weekday_map = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7 }

In [24]:
df['day_ordinal'] = df['Day'].map(weekday_map)

In [25]:
df.head()

                Date_of_Days        Day  day_ordinal
0 2021-01-01 15:36:53.777753     Friday            5
1 2020-12-31 15:36:53.777753   Thursday            4
2 2020-12-30 15:36:53.777753  Wednesday            3
3 2020-12-29 15:36:53.777753    Tuesday            2
4 2020-12-28 15:36:53.777753     Monday            1

## Advantages
### Straightforward
### Keeps the semantic information of the variable

## Disadvantages
### Does not add valuable MAchine Learning information