In [1]:
def hello():
    print("hello world")

In [3]:
var = hello()

hello world

In [5]:
print(var)

None

In [8]:
#positional Argument
#Keyword argument

def hello(num, age=20):
    print("hello world" + str(num) +  " " + str(age))

In [9]:
hello(3,4)

hello world3 4

In [10]:
hello(3)

hello world3 20

In [11]:
hello()

TypeError: hello() missing 1 required positional argument: 'num'

In [12]:
#positional Argument
#Keyword argument

def hello(num, age):
    print("hello world" + str(num) +  " " + str(age))

In [13]:
hello(3)

TypeError: hello() missing 1 required positional argument: 'age'

In [41]:
def myname(*args, **kwargs):
    print(args)
    print(kwargs)
    for arg in args:
        print(arg)
    for kwarg in kwargs:
        print(kwarg, kwargs[kwarg])

In [42]:
myname("shim", "aran", age=20, day="monday")

('shim', 'aran')
{'age': 20, 'day': 'monday'}
shim
aran
age 20
day monday

In [29]:
lst = ["shim", "arang", "dayal"]
dict_data = {'age': 20, 'day': 'tues'}
myname(lst, dict_data)

(['shim', 'arang', 'dayal'], {'age': 20, 'day': 'tues'})
{}

In [30]:
myname(*lst, **dict_data)

('shim', 'arang', 'dayal')
{'age': 20, 'day': 'tues'}

In [32]:
# A function returning 2 values
def evenoddsum(lst):
    sum_even = 0
    sum_odd = 0
    for ls in lst:
        if ls % 2 == 0:
            sum_even += ls
        else:
            sum_odd += ls
    return sum_even, sum_odd

In [33]:
evensum, oddsum = evenoddsum([1,2,3,4,5,6,7,8,9])

In [34]:
print(evensum)
print(oddsum)

20
25

In [43]:
#Lambda functions
def addition(a, b):
    return a + b

In [44]:
lam_1 = lambda a,b : a+b

In [45]:
lam_1(5,6)

11

In [46]:
#lambda function to check number is even

even_lambda = lambda x : x%2 == 0

In [48]:
even_lambda(1)

False

In [49]:
#Adding 3 numbers

adding_lam = lambda a,b,c : a+b+c

In [50]:
adding_lam(9,8,7)

24

In [54]:
#Map function

lst = [1,2,3,4]
lambda_sqr = lambda x : x**2

list(map(lambda_sqr, lst))

[1, 4, 9, 16]

In [57]:
def even_or_odd(num):
    if num % 2 == 0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [59]:
even_or_odd(5)

'The number 5 is odd'

In [60]:
list(map(even_or_odd, lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even']

In [61]:
map(even_or_odd, lst)

In [62]:
#Filtter function

iseven_lam = lambda x : x%2 == 0

In [64]:
list(filter(iseven_lam, lst))

[2, 4]

In [66]:
list(filter(lambda x : x%2 ==0, [3,4,5,2,3,4,5,6,7,8,6,7]))

[4, 2, 4, 6, 8, 6]

In [68]:
list(map(lambda x : x%2 ==0, [3,4,5,2,3,4,5,6,7,8,6,7]))

[False, True, False, True, False, True, False, True, False, True, True, False]

In [69]:
#List comprehension

data = [x*2 for x in [1,2,3,4,5]]

In [70]:
data

[2, 4, 6, 8, 10]

In [71]:

data = [x*2 for x in [1,2,3,4,5] if x > 3]

In [72]:
data

[8, 10]

In [73]:
#String formatting in python
def greeting(name):
    return "Welcome {}. Have a great day".format(name)

In [74]:
greeting("shim")

'Welcome shim. Have a great day'

In [75]:
#String formatting in python
def greeting(firstname, lastname):
    return "Welcome {}. Have a great day ms.{}".format(firstname,lastname)

greeting("shim","arangil")

'Welcome shim. Have a great day ms.arangil'

In [76]:
#String formatting in python
def greeting(firstname, lastname):
    return "Welcome {fn}. Have a great day ms.{ln}".format(ln=lastname,fn=firstname)

greeting("shim","arangil")

'Welcome shim. Have a great day ms.arangil'

In [ ]:
#Iterator vs Iterables
#List is an ierator

In [78]:
lst = [1,2,3,4,5,6,7,8,9]
lst1 = iter(lst)

In [79]:
lst1

In [80]:
next(lst1)

1

In [81]:
next(lst1)

2

In [82]:
for i in lst1:
    print(i)

3
4
5
6
7
8
9