### Write methods in a class

In [23]:
import sqlite3

class DataBaseOperations:
    
    def __init__(self, databasename):
        self.databasename = databasename
        
    def createDatabase(self):
        try:
            conn = sqlite3.connect(self.databasename)
            return conn
        except ConnectionError:
            raise ConnectionError
            
    def createTable(self, tablename, dictionaryofColumnsAndColumnDatatypes):
        try:
            conn = self.createDatabase()
            for key in dictionaryofColumnsAndColumnDatatypes:
                col_datatype = dictionaryofColumnsAndColumnDatatypes[key]
                try:
                    conn.execute('Alter Table {tableName} ADD Column "{columnName}" {dataType}'.format(tableName=tablename,
                                                                                                      columnName=key,
                                                                                                      dataType=col_datatype) )
                    
                except:
                    conn.execute("Create Table {tableName} ({columnName} {dataType})".format(tableName = tablename,
                                                                                            columnName=key,
                                                                                            dataType=col_datatype) )
                
            print("table {} created in database {}".format(tablename, self.databasename))
            self.closeDBConnection(conn)
            print("Connection to database closed")
        except Exception as e:
            conn.rollback()
            self.closeDBConnection(conn)
            print("Connection to database closed")
            
            print("Exception Occured" + str(e))
            
    def insert_into_table(self, tablename, listofvalues):
        try:
            conn = self.createDatabase()
            conn.execute("Insert into {tableName} values({values})".format(tableName=tablename, values=listofvalues))
            conn.commit()
            print("VAlues inserted successfully")
            self.closeDBConnection(conn)
            print("Connection to database closed ")
        except Exception as e:
            conn.rollback()
            self.closeDBConnection(conn)
            print("Connection to database closed")
            print("error occured" + str(e))
            
    def select_From_Table(self, tablename):
        try:
            conn = self.createDatabase()
            c = conn.cursor()
            c.execute("select * from {}".format(tablename))
            print("Values in table " , c.fetchall())
            self.closeDBConnection(conn)
            print("Connection to database closed")
        except Exception as e:
            self.closeDBConnection(conn)
            print("Connection to database closed")
            print("error occured " + str(e))
            
    def closeDBConnection(self, dbconnection):
        dbconnection.close()

In [24]:
db = DataBaseOperations("test5")

In [19]:
db.createDatabase()

In [14]:
tableDetails = {"studentId" : "INTEGER", "studentRoll" : "INTEGER", "studentMarks" : "FLOAT"}
db.createTable("Student", tableDetails)

Connection to database closed
Exception Occuredtable Student already exists

In [15]:
valuesToisnert= ('1,1,97')
db.insert_into_table("Student", valuesToisnert)

VAlues inserted successfully
Connection to database closed

In [26]:
valuesToisnert= ('2,2,99')
db.insert_into_table("Student", valuesToisnert)

VAlues inserted successfully
Connection to database closed

In [27]:
db.select_From_Table("Student")

Values in table  [(1, 1, 97.0), (1, 1, 97.0), (2, 2, 99.0), (2, 2, 99.0)]
Connection to database closed

### Let's understand some other concepts related to OOPS - INHERITANCE

In [28]:
class StudentMarks(DataBaseOperations):
    
    def __init__(self, id, rollnum, marks):
        self.ID = id
        self.RollNum =  rollnum
        self.Marks = marks
        self.databasename = "StudentDetails"

In [30]:
student1 = StudentMarks(1, 13, 93)

In [31]:
table_details = {"StudentID": "INTEGER", "RollNum": "INTEGER", "Marks": "FLOAT"}
student1.createTable("StudentMarks", table_details)

table StudentMarks created in database StudentDetails
Connection to database closed

In [35]:
values = ("{},{},{}".format(student1.ID, student1.RollNum, student1.Marks))
student1.insert_into_table("StudentMarks",values)

VAlues inserted successfully
Connection to database closed

In [37]:
student1.select_From_Table("StudentMarks")

Values in table  [(1, 13, 93.0)]
Connection to database closed

### Polimorphism

In [38]:
class Instagram:
    def share_stories(self):
        print("Share stories on Instagram")
        
class Facebook:
    def share_stories(self):
        print("Share stories on Facebook")

        
def share_application_stories(application):
    application.share_stories()

In [39]:
insta = Instagram()
facebook = Facebook()

share_application_stories(insta)

Share stories on Instagram

In [40]:
share_application_stories(facebook)

Share stories on Facebook

### MEthod Overriding

In [53]:
class StudentDetails(DataBaseOperations):
    
    def __init__(self, firstname, lastname, rollnum ,Class):
        self.Firstname = firstname
        self.Lastname = lastname
        self.Rollnum = rollnum
        self.Class = Class
        self.databasename = "StudentDetails"
        
    def insert_into_table(self, tablename):
        
        firstname = '"' + self.Firstname +  '"'
        lastname = '"'+ self.Lastname +  '"'
        Class = '"'+ self.Class +  '"'
        listofvalues = ("{}, {}, {}, {}".format(firstname, lastname, self.Rollnum,Class))
        try:
            
            conn =  self.createDatabase()
            conn.execute("Insert into {tableName} values({values})".format(tableName=tablename, values=listofvalues))
            conn.commit()
            print("Values inserted to {} successfully".format(tablename))
            self.closeDBConnection(conn)
            print("connection to database closed")
        except Exception as e:
            self.closeDBConnection(conn)
            print("connection closed")
            print("error occured " + str(e))

In [54]:
student1  = StudentDetails("ram", "kumar", 23, "Ten")

In [55]:
tabledetails = {"FirstName" : "Varchar", "LastName": "Varchar", "RollNum": "Integer", "StudentClass": "Varchar"}
student1.createTable("StudentDetails",tabledetails)

Connection to database closed
Exception Occuredtable StudentDetails already exists

In [56]:
student1.insert_into_table("StudentDetails")

Values inserted to StudentDetails successfully
connection to database closed

In [57]:
student1.insert_into_table("StudentDetails")

Values inserted to StudentDetails successfully
connection to database closed

In [59]:
student1.select_From_Table("StudentDetails")

Values in table  [('ram', 'kumar', 23, 'Ten'), ('ram', 'kumar', 23, 'Ten')]
Connection to database closed

### Encapsulation

In [81]:
class BonusDistribution:
    
    def __init__ (self,employeeId, employeeRating):

        self.empId = employeeId
        self.empRating = employeeRating
        self.__bonusforRatingA = "70%"  #making value private
        self.__bonusforRatingB = "60%"  #making value private
        self.__bonusforRatingC = "50%"  #making value private
        self.__bonusforRatingD = "30%"  #making value private
        self.__bonusforRatingForRest = "No Bonus" #making value private

    def bonus_calculator(self):
        if self.empRating == 'A':
            bonus = self.__bonusforRatingA
            msg = "Bonus is " + bonus
            return msg
        elif self.empRating == 'B':
            bonus = self.__bonusforRatingB
            msg = "Bonus is " + bonus
            return msg
        elif self.empRating == 'C':
            bonus = self.__bonusforRatingC
            msg = "Bonus is " + bonus
            return msg
        elif self.empRating == 'D':
            bonus = self.__bonusforRatingD
            msg = "Bonus is " + bonus
            return msg
        else: 
            bonus = self.__bonusforRatingForRest
            msg = bonus
            return msg
        
    def __change_bonus(self, bonus):
        self.__bonusforRatingForRest = bonus

In [82]:
emp1 = BonusDistribution(223, "A")
emp1.bonus_calculator()

'Bonus is 70%'

In [66]:
emp1 = BonusDistribution(223, "C")
emp1.bonus_calculator()

'Bonus is 50%'

In [70]:
emp1 = BonusDistribution(223, "K")
emp1.bonus_calculator()

'No Bonus'

In [71]:
emp1.__bonusforRatingForRest = "50%"

In [72]:
emp1.bonus_calculator()

'No Bonus'

In [73]:
#Private attribute not changed

In [75]:
emp1.__change_bonus("90%")

AttributeError: 'BonusDistribution' object has no attribute '__change_bonus'

In [86]:
emp1._BonusDistribution__change_bonus("90%")

In [89]:
emp3 = BonusDistribution(223, "K")
emp3._BonusDistribution__change_bonus("99%")

In [90]:
emp3.bonus_calculator()

'99%'

### Operator OVerloading

In [99]:
class Multiply:
    
    def __init__(self, a):
        self.a = a
        
    def __mul__(self, othervalue):
        return self.a * othervalue.a

In [100]:
a1 = Multiply(3)
a2 =  Multiply(8)

In [94]:
a1 * a2

TypeError: unsupported operand type(s) for *: 'Multiply' and 'Multiply'

In [101]:
a1 * a2

24

In [102]:
class Multiply:
    
    def __init__(self, a):
        self.a = a
        
    def __mul__(self, othervalue):
        return self.a +  othervalue.a +100

In [103]:
a1 = Multiply(3)
a2 =  Multiply(8)

In [104]:
a1 * a2

111

### Overloading String MEthod

In [116]:
class PrintInformation:
    def __init__(self, data):
        self.data = data
        
    def __str__(self):
        return "hello world" + self.data

In [117]:
pr = PrintInformation("mesg")

In [118]:
print(pr)

hello worldmesg